@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
  font-family: 'Source Sans Pro', sans-serif;;
  box-sizing: border-box;
}

header a{
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  color: black;
}

section.list{
  width: 50%;
  margin: auto;
}
h2{
  text-align: center;
}
.contactCard{
  margin: 8px;
  border-radius: 5px;
  background-color:rgb(168, 237, 240);
  border:2px solid rgba(59, 85, 87, 0.582);
  display: grid;
  grid-template-columns: 1fr 12% 12%;
}
.contactCard > a{
  text-decoration: none;
  display: block;
  padding: 10px;
}

h5, h5 + p{
  margin: 0;
  color: black;
  font-size: 20px;
  margin: 0;
}

section a{
  display: block;
  text-decoration: none;
  font-size: 25px;
}
button{
  width: 80%;
  display: block;
  margin: 15px auto;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  font-variant: small-caps;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.1px 10px rgba(0, 0, 0, 0.377);
  cursor: pointer;
}
